

@media screen and (max-width: 1366px) {
  .history-section {
    margin-top: 2rem;
  }

  .get-section {
    margin-top: 1.2rem;
  }
  
  .prices-section {
    margin-top: 8.68rem;
  }

  .testimonials-section {
    margin-top: 8.2rem;
  }

  .testimonials-section__picture {
    max-width: 82%; 
  }
  
}

@media screen and (max-width: 1280px){
  .newsletter-section__bg {
    top: -9rem;
    bottom: -5rem;
  }

  .newsletter-section__bg {
    background-size: auto 100%;
  }

  .testimonials-section__img {
    padding-right: 0;
  }

  .testimonials-section__picture {
      max-width: 95%; 
  }
}

@media screen and (max-width: 1200px) {
  .about__heading {
    font-size: 2.5rem;
  }

  .history__sub-heading {
    font-size: 0.8rem;
  }

  .about__introduction {
    font-size: 1.1rem;
  }

  .history__sub-introduction {
    font-size: 0.9rem;
  }

  .h-decor-1:before,
  .h-decor-2:before {
    left: -1.37rem;
    top: 18%;
  }

  .h-decor-1:after,
  .h-decor-2:after {
    right: 1%;
  }

  .h-decor-3::after {
    right: 2.2%;
  }
}

@media screen and (max-width: 1100px) {
  .prices__head {
    padding: 2.5rem 1.25rem 2rem;
  }
  .prices__list li {
    font-size: 0.85rem;
    margin-bottom: 0.8rem;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper {
    padding-left: 1.56rem;
    padding-right: 1.56rem;
  }

  .about-content {
    width: 25.5rem;
  }

  .about-img {
    width: calc(100% - 25.5rem);
  }

  .about-img img {
    width: 100%;
  }

  .about__sub-introduction {
    font-size: 0.9rem;
  }

  .nav-logo img {
    height: 2.8rem;
  }

  .nav-section {
    margin-right: 1.6rem;
  }

  .nav-section a {
    font-size: 0.9rem;
  }

  .get-started-btn {
    padding: 0 1.2rem;
  }

  .footer .get-started-btn {
    order: 2;
    margin-left: 50%
  }

  .hero-section {
    background-size: auto 78%;
  }

  .socket {
    background-size: inherit;
    background-position: 50% 4%;
    background-repeat: no-repeat;
  }

  .hero-content {
    padding-top: 4rem;
  }

  .hero__heading {
    font-size: 2.5rem;
  }

  .hero__sub-heading {
    font-size: 0.7rem;
  }

  .hero__introduction {
    font-size: 1.2rem;
  }

  .btn {
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 0.85rem;
    /* padding: 0px 2.5rem; */
  }

  .services-section {
    margin-top: -17rem;
  }

  .services__item {
    padding: 1.375rem 1.25rem 1.4rem;
    margin: 0 0.625rem 1.25rem;
    width: calc(25% - 1.25rem);
  }

  .services__icon {
    height: 3.5rem;
  }

  .services__title {
    margin-top: 1.1rem;
    font-size: 1.1rem;
  }

  .services__text {
    line-height: 150%;
    font-size: 0.9rem;
  }

  .history-details__num {
    font-size: 2.9rem;
  }

  .history-details__text {
    font-size: 0.75rem;
  }

  .history-details__decor {
    width: 9rem;
    height: 9rem;
  }

  .get-item__title {
    font-size: 1.1rem;
  }

  .get-item__text {
    font-size: 0.9rem;
  }

  .get-item::after {
    top: -25%;
    left: -30%;
  }

  .consultation-form {
    padding: 6.2% 0 9.7rem;
    max-width: 26.5rem;
  }

  .consultation-img {
    margin: 0 -7% 0 1.4%;
    width: calc(114% - 27.06rem);
  }

  .consultation-img img {
    width: 115%;
    height: 115%;
    margin-top: -5rem;
  }

  .steps__count {
    font-size: 8.37rem;
  }

  .steps__title {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .prices__decor:before {
    width: 36.75rem;
    bottom: 16px;
  }

  .prices__category {
    font-size: 0.87rem;
  }

  .prices__title {
    font-size: 1.37rem;
  }
  
  .prices__cost {
    margin-top: 0.62rem;
  }
  
  .prices__period {
    font-size: 0.93rem;
  }

  .prices__body {
    padding: 2.1rem 1.25rem 2.5rem;
  }
 
  .prices__list {
    font-size: 0.93rem;
    line-height: 0.93;
  }
  .prices__btn {
    margin-top: 2rem;
  }

  .news__header {
    font-size: 12px;
  }

  .news__date, .news__author {
    margin-right: 0;
  }

  .news__title {
    font-size: 1.05rem;
  }

  .footer {
    padding-top: 3.75rem;
    background-position: 87% 0;
  }
  .footer .wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer .nav-logo {
    order: 1;
  }

  .footer .get-started-btn {
    order: 2;
  }

  .footer .header-social {
    order: 3;
    margin: 1.56rem 1.25rem 0 0;
  }

  .footer .header-contact {
    order: 4;
    margin: 1.56rem 0 0 1.25rem;
  }

  .footer-bottom .wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .footer .nav-section {
    margin: 0 0.75rem;
  }

  .footer .copyrights {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .footer .nav-category {
    margin: 0 -0.75rem;
    padding: 0 0 1rem;
    width: 100%;
    justify-content: center;
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 767px){
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about__heading {
      font-size: 1.5rem;
  }

  .header-top {
    display: none;
  }

  .header .wrapper {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }

  .nav-logo {
    margin: 0.3rem;
    padding: 0.7rem 0.94rem 0 0;
  }

  .nav-logo img {
    height: 2.2rem;
  }

  .header .nav-category {
    position: fixed;
    display: block;
    width: 100%;
    right: -100%;
    background: #fff;
    bottom: 0;
    top: 0;
    margin: 0;
    z-index: 100;
    padding: 3.8rem 1rem 1.25rem;
    overflow: auto;
    transition: right .5s ease;
    text-align: center;
  }

  .nav-section {
    margin: 0 1.6rem;
  }

  .nav-section a {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding: .31rem 0;
  }

  .nav-category.active {
    right: 0;
  }

  .nav-category.active .nav-inner {
    flex-direction: column;
  }

  .nav-category.active .header-social, .nav-category.active .header-contact {
    display: block;
    margin-top: 2rem;
  }
  
  .nav-category.active .header-top__title {
    margin-right: 0;
  }
  
  .nav-category.active .header-social__items {
    margin: auto;
    width: fit-content;
  }

  .bars-btn {
    display: block;
    margin: -0.5rem -0.187rem 0 0;
    z-index: 1000;
  }
  
  .bars-btn.active .bars {
    opacity: 0;
  }

  .bars-btn.active .cross span:nth-child(1) {
    height: 100%;
    transition-delay: .625s;
  }

  .bars-btn.active .cross span:nth-child(2) {
    width: 100%;
    transition-delay: .375s;
  }

  .hero-section {
    padding-top: 5.6rem;
    background: linear-gradient(282.39deg, #DBDFF3 0%, rgba(241, 249, 255, 0) 100%);
  }

  .hero-section .about__introduction {
    font-size: 0.87rem;
  }

  .socket {
    position: absolute;
    top: 40%;
    background-position: 70% 0%;
    background-size: cover;

  }

  .hero-content {
    padding: 0 0 5.31rem;
    width: 75%;
  }

  .hero__sub-heading {
    font-size: 0.8rem;
  }
  
  .hero__heading {
    font-size: 2.25rem;
  }

  .hero__introduction {
    font-size: 0.87rem;
  }
  
  .services-section {
    margin-top: -0.7rem;
  }

  .services-list {
    margin: 0px -0.65rem;
  }

  .services__item {
    width: calc(50% - 1.25rem);
  }

  .history-section {
    margin-top: 0.1rem;
  }

  .about-img {
    width: calc(100% - 28.5rem);
  }
  
  .about .about-content {
    width: 28.5rem;
  }

  .about__introduction {
    font-size: 1.25rem;
  }

  .history-details__item {
    width: 50%;
    margin-bottom: 2.7rem;
  }

  .newsletter-section__bg {
    top: -9rem;
    bottom: 0;
  }

  .h-decor-1:before, .h-decor-1:after {
    display: none;
  }

  .get-list {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .get-item {
    padding: 2.25rem 1rem 2.2rem;
    margin: 0 0.625rem 1.87rem;
    width: calc(50% - 1.25rem);
  }
  
  .get-item:nth-child(3n-1) {
    transform: none;
  } 
  
  .get-item__title {
    font-size: 1.2rem;
  }

  .get-item__text {
    font-size: 1rem;
  }

  .get-item::after {
    top: -30%;
    left: -20%;
  }

  .consultation-section {
    padding-top: 7.5rem;
  }

  .consultation-form {
    max-width: 100%;
  }

  .about__sub-introduction {
    font-size: 1rem;
  }

  .consultation-section__bg {
    background: linear-gradient(305.32deg, rgba(219, 223, 243, 0.45) 0.03%, rgba(241, 249, 255, 0.03) 99.52%) !important;
  }

  .form-field.terms-field {
    justify-content: flex-start;
    padding-left: 35px;
  }

  .consultation-img {
    display: none;
  }

  .logos-list {
    flex-wrap: wrap;
  }

  .logo-item {
    width: calc(33.33% - 1.87rem);
  }

  .logo-item:nth-child(2n) {
    transform: none;
  }

  .steps-section {
    margin-top: 3.87rem;
  }

  .h-decor-1:before, .h-decor-2:before {
    display: none;
  }

  .steps__item {
    width: 50%;
    margin-bottom: 2.5rem;
  }
  
  .steps__count {
    font-size: 7.5rem;
    top: 0%;
    left: 22%;
  }

  .steps__text {
    font-size: 0.82rem;
  }

  .prices-section {
    margin-top: 4.3rem;
  }

  .h-decor-3 {
    padding: 0;
  }

  .h-decor-3::after {
    display: none;
  }

  .prices-list {
    margin-left: 0;
    margin-right: 0;
  }

  .prices__item {
    width: calc(50% - 2rem);
  }

  .prices__item:first-child .prices__body{
    padding-bottom: 9.8rem;
  }

  .newsletter-section {
    margin-top: 0;
  }
  
  .newsletter {
    flex-direction: column-reverse;
  }

  .newsletter-section__bg img {
    height: 100%;
  }
  
  .newsletter__content {
    padding: 1.25rem 0 0;
    width: 100%;
  }

  .testimonials-section {
    margin-top: 3.3rem;
  }

  .testimonials {
    flex-direction: column;
  }

  .testimonials-section__img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 18.8rem;
    text-align: center;
  }

  .testimonials-content {
    width: 100%;
  }

  .blog-section {
    margin-top: 3.37rem;
  }

  .news__header {
    flex-wrap: wrap;
  }

  .news__title {
    font-size: 1rem;
  }

  .footer {
    padding: 1.87rem 0 1rem;
    text-align: center;
    background: linear-gradient(286.98deg, #DBDFF3 0.84%, rgba(241, 249, 255, 0.1) 94.29%) !important;
  }

  .footer .wrapper {
    justify-content: center;
  }

  .footer .nav-logo {
    margin-top: 0;
  }

  .footer .nav-logo img {
    height: 3.2rem;
  }

  .footer .get-started-btn{
    margin: 1.25rem auto 0;
    width: 22.5rem;
    max-width: 100%;
  }

 .footer .header-contact {
    display: block;
    margin: 1.25rem 0 0;
    width: 100%;
  }

  .footer .header-contact i {
    margin-left: -2rem;
  }


}

@media screen and (max-width: 767px) and (min-width: 480px){
  .get-item__heading {
      display: flex;
      flex-direction: column;
  }
}

@media screen and (max-width: 559px){
  .prices__item {
      margin: 0 auto 1.87rem;
      width: 100%;
      max-width: 22.5rem;
  }

  .prices__item:first-child .prices__body {
    padding-bottom: 2.5rem;
  }

  .news {
    display: block;
    max-width: 28.12rem;
    margin: 2.5rem auto 0;
  }
  .news__item {
    width: 100%;
    margin: 0 0 1.87rem;
  }

  .footer .nav-inner{
    display: block;
  }
}

@media screen and (max-width: 479px){
  .logo-item {
    width: calc(50% - 1.87rem);
  }

  .services__item {
    width: calc(100% - 1.25rem);
  }

  .services__item:nth-child(even) {
    transform: none;
  }

  .get-section {
    margin-top: 1.5rem;
  }

  .history-details__num {
    font-size: 2.4rem;
  }

  .history-details__text {
    font-size: 0.74rem;
    text-align: center;
  }

  .history-details__decor {
    width: 8.5rem;
    height: 8.5rem;
  }

  .h-decor-1, .h-decor-2, .h-decor-3 {
    padding: 0 ;
  }

  .get-item {
    padding: 1.62rem 1rem 1.56rem;
    margin: 0 0 1.87rem;
    width: 100%;
  }

  .form-fields .form-field {
    width: 100%;
  }

  .form-field .about-btn.btn, .submit-field .btn {
    width: 100%;
  }

  .form-field.email-field {
    padding-right: 0;
  }

  .form-field.submit-field {
    margin-top: 20px;
  }

}